a {
    text-decoration: none
}

h2 {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

.mag-bot-10 {
    margin-bottom: 10px;
}

.cart-wrap .el-input__inner {
    padding: 0 4px !important;
    border-radius: 0 !important;
    text-align: center
}